// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


h1, .h1
	font-size 1.8em

h2, .h2
	font-size 1.4em

.md-right
	text-align right

.md-left
	text-align left

.md-center
	text-align center

.wall.arrow-md
	position relative

.wall.arrow-md:after
	mpd()
	// b(1, red)
	content ''
	position absolute
	width 70px
	height @width
	top 30px
	left @width * -1
	background url('../img/arrow.svg') 100% 0 no-repeat


.news-img
	float left
	width 50%


.list.list-md-border > .list-item
	padding-top 0 !important

.list.list-md-border > .list-item > [class*="col-"]
	display flex
	flex-direction column
	justify-content center
	padding-top 15px
	border-right 1px solid #E3E4E6

.list.list-md-border > .list-item > [class*="col-"]:last-child
	border none
