// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.sm-left
    text-align left

.sm-right
    text-align right


.img-c-bg:before
    mpd()
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    height 90px
    background #E5E7E6
