// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.list-item
    padding-top 0 !important

.list-item > [class*="col-"]
    display flex
    flex-direction column
    justify-content center
    padding-top 15px
    border-right 1px solid #E3E4E6

.list-item > [class*="col-"]:last-child
    border none


.border-header-xl
    border-bottom 1px solid #E3E4E6

.border-header-xl > [class*="col"]
    display flex
    flex-direction column
    justify-content center
    padding-top 15px
    border-right 1px solid #E3E4E6

.border-header-xl > [class*="col"]:nth-child(2)
    width 300px !important

.border-header-xl > [class*="col"]:last-child
    border-right none



.img-c-wrap
    margin-bottom -96px

.img-c-bg
    padding-bottom 95px

.img-c-bg:before
    height 95px


body.main-mnav-active
    overflow auto

.main-mnav
.main-mnav.active
    display none
