// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.list-item
    padding-top 0 !important

.list-item > [class*="col-"]
    display flex
    flex-direction column
    justify-content center
    padding-top 15px
    border-right 1px solid #C7C9CC

.list-item > [class*="col-"]:last-child
    border none


.border-header-xl
    border-bottom 1px solid #C7C9CC

.border-header-xl > [class*="col"]
    display flex
    flex-direction column
    justify-content center
    padding-top 15px
    border-right 1px solid #C7C9CC

.border-header-xl > [class*="col"]:nth-child(2)
    width 300px !important

.border-header-xl > [class*="col"]:last-child
    border-right none